<form autocomplete="off">
  <table>
    <thead>
      <tr>
      {{#each currencies as |currency|}}
        <th style="width:{{@root.currenciesWidthPercent}}%">
          <div style="display: flex; justify-content: center; align-items: center; gap: 4px; margin: 2px;">
            <i data-tooltip="{{currency.label}}" style="background-image: url('{{currency.icon}}'); display: inline-block; width: 1em; height: 1em; background-size: contain;"></i>
            <span>{{currency.label}}</span>
          </div>
        </th>
      {{/each}}
      </tr>
    </thead>

    <tbody>
      <tr>
      {{#each currencies as |currency|}}
        <td>
          <input type="number" name="configuration.{{currency.key}}" step="1" value="{{getProperty @root.configuration currency.key}}">
        </td>
      {{/each}}
      </tr>
    </tbody>
  </table>
</form>